### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
# View Data headers
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Obtain general data stats [NOT REQUIRED]
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [4]:
#identify data types
purchase_data_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

## Player Count

* Display the total number of players

In [5]:
#Set variable "player_count" equal to the length of the unique sale numbers ["SN"] in our data frame .. ["purchase_data_df"]
player_count = len(purchase_data_df["SN"].unique())
player_count

#Create dataframe
player_count_df = pd.DataFrame({"Total Players" : [player_count]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Variable that captures the numnber of unique items from the ITem ID column in the original file
unique_item = len(purchase_data_df["Item ID"].unique())
unique_item

#Variable that captures the average price from the Price column in the original file
average_price = purchase_data_df["Price"].mean()
average_price

#Variable that captures the number of purchases from the Purchase ID column in the original file
number_of_purchases = len(purchase_data_df["Purchase ID"])
number_of_purchases

#Variable that captures the total revenue from the Price column in the original file
total_revenues = (purchase_data_df["Price"]).sum()
total_revenues

#place into summary DF
summary_df = pd.DataFrame({"# of Unique Items" : [unique_item], "Average Price" : [average_price], "Number of purchases" : [number_of_purchases], "Total Revenues" : [total_revenues]})
summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenues"] = summary_df["Total Revenues"].map("${:,.2f}".format)
summary_df

   # of Unique Items Average Price  Number of purchases Total Revenues
0                179         $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
#Remove Duplicates
player_series = purchase_data.loc[:,["Gender", "SN", "Age"]]
nondup_purchase_data = player_series.drop_duplicates()
nondup_purchase_data

#Value counts by Gender to calculate percentage of players by gender
gender = nondup_purchase_data["Gender"].value_counts()
gender_pct = gender/player_count
gender_pct

#Create a dataframe to display the calculations
gender_demographics_df = pd.DataFrame(gender)
gender_demographics_df

#Variable created to capture count by gender .. This is because the player_count_df would not allow calculations since it is a data frame.
new_gender_count = gender

#Convert gender_count to a data frame in order to display the count by gender and calculate the percentage of players by gender.
gender_count_df = gender.to_frame()
gender_count_df

#Gender percentage calculations with formatting. 
gender_count_df["Percent of Players"]= (gender_count_df["Gender"]/player_count)*100
gender_count_df["Percent of Players"]=gender_count_df["Percent of Players"].map("{:,.2f}%".format)
gender_count_df

                       Gender Percent of Players
Male                      484             84.03%
Female                     81             14.06%
Other / Non-Disclosed      11              1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Average count by gender
gender_purchase_count =purchase_data_df.groupby(["Gender"]).count()["Purchase ID"]
gender_purchase_count

#Obtain average price by gender
gender_purchase_price = purchase_data_df.groupby(["Gender"]).mean()["Price"]
gender_purchase_price

#obtain total purchase by gender
gender_total_purchase = purchase_data_df.groupby(["Gender"]).sum()["Price"]
gender_total_purchase

#obtain average total purchase per person
average_total_person = gender_total_purchase/new_gender_count
average_total_person

#Create a dataframe to display the Purchase Analysis by Gender
#Dataframe setup pt1. -use the data from above to populate the dataframe
gender_data = pd.DataFrame({"Purchase Count":gender_purchase_count,
                                       "Average Purchase Price":gender_purchase_price,
                                       "Total Purchase Value":gender_total_purchase,
                                       "Avg Total Purchase per Person":average_total_person})

#Dataframe setup pt.2 -formatting the data
gender_data["Average Purchase Price"] = gender_data["Average Purchase Price"].map("${:,.2f}".format)
gender_data["Total Purchase Value"] = gender_data["Total Purchase Value"].map("${:,.2f}".format)
gender_data ["Purchase Count"] = gender_data["Purchase Count"].map("{:,}".format)
gender_data["Avg Total Purchase per Person"] = gender_data["Avg Total Purchase per Person"].map("${:,.2f}".format)

#Dataframe setup pt.3 -listing the data in the desired manner
gender_data = gender_data.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]
gender_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [31]:
#Create bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]

#Create labels for bins
bin_labels=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#slice the data and place it into bins
nondup_purchase_data["Age Demographics"] = pd.cut(nondup_purchase_data["Age"],bins, labels=bin_labels)
age_demographics = nondup_purchase_data.groupby(["Age Demographics"]).count()["Age"]
age_demographics = age_demographics.to_frame()

age_demographics["Percent of Players"] = (age_demographics["Age"]/player_count)*100
age_demographics["Percent of Players"]=age_demographics["Percent of Players"].map("{:,.2f}%".format)
age_demographics

<ipython-input-31-fa72cce8760b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nondup_purchase_data["Age Demographics"] = pd.cut(nondup_purchase_data["Age"],bins, labels=bin_labels)

                  Age Percent of Players
Age Demographics
<10                17              2.95%
10-14              22              3.82%
15-19             107             18.58%
20-24             258             44.79%
25-29              77             13.37%
30-34              52              9.03%
35-39              31              5.38%
40+                 5              0.87%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [42]:
#Create bins 
bins_2 = [0, 9, 14, 19, 24, 29, 34, 39, 40]

#create labels for bins
bin_labels_2 =["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#slice the data and place it into bins
player_count["SN"] = pd.cut(player_count["Purchase Count"],bins, labels=bin_labels)
age_purcahsing_analysis = player_count.groupby(["SN"]).count()["Purchase Count"]
age_purcahsing_analysis = age_purcahsing_analysis.to_frame()

#age_purcahsing_analysis["Percent of Players"] = (age_purcahsing_analysis["Age"]/player_count)*100
#age_purcahsing_analysis["Percent of Players"] = age_purcahsing_analysis["Percent of Players"].map("{:,.2f}%".format)
age_purcahsing_analysis

TypeError: 'int' object is not subscriptable

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame